/* (Mini) Reset do CSS do navegador para evitar conflito de estilos entre navegadores. Podemos definir os próprios reset. */

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: 400;
    text-align: initial;
}


:root {
    --cor-primaria: #14023d;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #04d7f3;
    --cor-quartenaria: #48e400;
    --cor-fundo: #ffffff;
    --fonte-primaria: 'Times New Roman', serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
}

body {
    margin: 25px 25px;
    background-color: var(--cor-fundo);
 }
 
 .titulo-principal{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30pt;
}

.subtitulo-principal{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18pt;
    text-decoration: underline;
}

.titulo-de-artigo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration:underline;
    font-size: 14pt;
    padding-bottom: 10px;
}

 table, th, td {
    border: 1px solid;
 }

table {
    width: 50%;
    
}

.container1  {
    height: 1000px;
    background-color: var(--cor-secundaria);
    border: 40px solid var(--cor-primaria); /* Equivalente à cor #000000 */
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2  {
    height: 1500px;
    background-color: var(--cor-secundaria);
    border: 40px solid var(--cor-primaria); /* Equivalente à cor #000000 */
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container3  {
    height: 1500px;
    background-color: var(--cor-secundaria);
    border: 40px solid var(--cor-primaria); /* Equivalente à cor #000000 */
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos da página que sobrescreverão os resets anteriores */

.contido {
    width: 150px;
    height: 150px;
    background-color: var(--cor-terciaria);
    border: 2px solid var(--cor-quartenaria);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-terciaria);
    border-radius: 5px;
    transition: all, .35s;
    margin: 10px 0 10px 0;
}

.contido:hover {
    background-color: #48e400;
    width: 1000px;
    color: black;
    font-size: 14px;
}

.container1 div:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    height: 150px;
}

.container1 div:nth-of-type(2) {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    height: 150px;
}

.container1 div:nth-of-type(3) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 150px;
}

.container1 div:nth-of-type(4) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    height: 150px;
}

.container1 div:nth-of-type(5) {
    display: flex;
    justify-content: flex-start;
    flex-direction: initial;
    height: 150px;
}

.container1 div:nth-of-type(6) {
    display: flex;
    justify-content: flex-start;
    flex-direction: inherit;
    height: 150px;
}

.container2 div:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    
    height: 150px;
}

.container2 div:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    height: 150px;
}

.container2 div:nth-of-type(3) {
    display: flex;
    justify-content: center;
    
    height: 150px;
}

.container2 div:nth-of-type(4) {
    display: flex;
    justify-content: space-between;

    height: 150px;
}

.container2 div:nth-of-type(5) {
    display: flex;
    justify-content: space-around;

    height: 150px;
}

.container2 div:nth-of-type(6) {
    display: flex;
    justify-content: space-evenly;

    height: 150px;
}

.container2 div:nth-of-type(7) {
    display: flex;
    justify-content: initial;

    height: 150px;
}

.container2 div:nth-of-type(8) {
    display: flex;
    justify-content: inherit;
    
    height: 150px;
}







