/* (Mini) Reset do CSS do navegador para evitar conflito de estilos entre navegadores. Podemos definir os próprios reset. */

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: 400;
    text-align: initial;
}

:root {
    --cor-primaria: #053B50;
    --cor-secundaria: #176B87;
    --cor-terciaria: #64CCC5;
    --cor-quartenaria: #EEEEEE;
    --cor-fundo: #EEEEEE;
    --fonte-primaria: 'Times New Roman', serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
}

body {
    margin: 25px 25px;
    background-color: var(--cor-fundo);
 }
 
 .titulo-principal{
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     font-size: 30pt;
    }
    
    .subtitulo-principal{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 18pt;
        text-decoration: underline;
    }
    
    .titulo-de-artigo{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-decoration:underline;
        font-size: 14pt;
        padding-bottom: 10px;
}

 table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px 2px;
 }

table {
    width: 100%;
}

.examples{
    display: flex;
    justify-content: space-around;
}

.propriedade {
    text-align: left;
}

.valor {
    text-align: center;
}

th {
    background-color: var(--cor-primaria) ;
    color: #fff;
}

tr:hover {
    background-color: #555;
}


.item {
    background-color: var(--cor-terciaria);
    width: 3rem;
    height: 3rem;
    background: rg(255, 123, 0);
    width: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    padding: 1.5rem 2rem;
}


.container  {
    background-color: var(--cor-fundo);
    border: 20px solid var(--cor-primaria); /* Equivalente à cor #000000 */
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Estilos da página que sobrescreverão os resets anteriores */

.contido {
    width: 200px;
    height: 200px;
    background-color: var(--cor-terciaria);
    border: 2px solid var(--cor-quartenaria);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: var(--cor-terciaria);
    border-radius: 5px;
    transition: all, .35s;
    margin: 10px 0 10px 0;
}

.contido:hover {
    background-color: #48e400;
    width: 400px;
    color: black;
    font-size: 14px;
}

/* Propriedade Flex */

.flex {
    display: flex;
}

/* Propriedade Justify-Content */

.justify-content-flex-start {
    justify-content: flex-start;
    height: 200px;
}

.justify-content-flex-end {
    justify-content: flex-end;
    height: 200px;
}

.justify-content-center {
    justify-content: center;
    height: 200px;
}

.justify-content-space-between {
    justify-content: space-between;
    height: 200px;
}

.justify-content-space-around {
    justify-content: space-around;
    height: 200px;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
    height: 200px;
}


/* Propriedade Flex-Direction */

.flex-direction-row {
    flex-direction:row;
    height: 200px;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
    height: 200px;
}

.flex-direction-column {
    flex-direction: column;
    height: 200px;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
    height: 200px;
}


/* Propriedade Align Itens */

.align-items-flex-stretch {
    align-items: stretch;
    height: 200px;
}
.align-items-flex-center {
    align-items: center;
    height: 200px;
}

.align-items-flex-start {
    align-items: flex-start;
    height: 200px;
}

.align-items-flex-end {
    align-items: flex-end;
    height: 200px;
}

.align-items-baseline {
    align-items: baseline;
    height: 200px;
}

/* Flex Wrap */

.flex-wrap-nowrap {
    flex-wrap: nowrap;
    height: 200px;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
    height: 200px;
}

.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
    height: 200px;
}

/* Flex Flow */

.flex-flow-direction {
    flex-flow: row wrap-reverse;
    height: 200px;
}

.flex-flow-wrap {
    flex-flow: column wrap ;
    height: 200px;
}

/* Propriedade Align-Content */

.align-content-stretch {
    align-content: stretch;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
}

.align-content-center {
    align-content: center;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
}

.align-content-flex-start {
    align-content: flex-start;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
}


.align-content-flex-end {
    align-content: flex-end;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
}

.align-content-space-between {
    align-content: space-between;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
}

.align-content-space-around {
    align-content: space-around;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
}

.align-content-space-evenly {
    align-content: space-evenly;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
}